<aside class="left-sidebar pb-0" style="max-height:85%">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar h-100 pb-2" style="height:95%;">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/dashboard"
            aria-expanded="false" data-pjax
            ><i class="me-2 mdi mdi-view-dashboard"></i
            ><span class="hide-menu">Dashboard</span></a
          >
        </li>
        <li class="nav-small-cap">
          <i class="nav-small-line"></i>
          <span class="hide-menu">Fitur</span>
        </li>
        
        <!--
        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow waves-effect waves-dark"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="ri-government-fill"></i
            ><span class="hide-menu">Pemerintahan </span></a
          >
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/admin/anggota" class="sidebar-link"
                ><i class="me-2 mdi mdi-account-multiple"></i
                ><span class="hide-menu"> Anggota </span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/admin/visimisi" class="sidebar-link"
                ><i class="ri-file-paper-line"></i
                ><span class="hide-menu"> Visi Dan Misi </span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/admin/bpd" class="sidebar-link"
                ><i class="me-2 mdi mdi-account-multiple"></i
                ><span class="hide-menu"> BADAN PEMUSYAWARATAN DESA (BPD) </span></a
              >
            </li>
          </ul>
        </li>  -->
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/penerimaan"
            aria-expanded="false" data-pjax
            ><i class="me-2 ri-money-dollar-circle-line"></i
            ><span class="hide-menu"> Penerimaan</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/penyimpanan"
            aria-expanded="false" data-pjax
            ><i class="me-2 mdi mdi-view-carousel"></i
            ><span class="hide-menu"> Stok Opname</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/pengeluaran"
            aria-expanded="false" data-pjax
            ><i class="me-2 ri-money-dollar-circle-line"></i
            ><span class="hide-menu"> Pengeluaran</span></a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link"
			href="/admin/keuangan" 
            aria-expanded="false" data-pjax
            ><i class="me-2 mdi mdi-file-chart"></i
            ><span class="hide-menu"> Keuangan</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/administrasi"
            aria-expanded="false" data-pjax
            ><i class="me-2 mdi mdi-file-document"></i
            ><span class="hide-menu"> Administrasi</span></a
          >
        </li>
        <li class="sidebar-item">
          <a
            class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/admin/performa_sales"
            aria-expanded="false" data-pjax
            ><i class="me-2 mdi mdi-chart-line"></i
            ><span class="hide-menu"> Performa Sales</span></a
          >
        </li>
        
        <li class="nav-small-cap">
          <i class="nav-small-line"></i>
          <span class="hide-menu">Lain Lain</span>
        </li>
        <li class="sidebar-item">
          <a href="/admin/products" class="sidebar-link" data-pjax>
            <i class="me-2 mdi mdi-package-variant-closed"></i>
            <span class="hide-menu"> Barang </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/suppliers" class="sidebar-link" data-pjax>
            <i class="me-2 mdi mdi-factory"></i>
            <span class="hide-menu"> Suppliers </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/salespersons" class="sidebar-link" data-pjax>
            <i class="me-2 mdi mdi-account-multiple"></i>
            <span class="hide-menu"> Sales </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/senders" class="sidebar-link" data-pjax>
            <i class="me-2 mdi mdi-account-multiple"></i>
            <span class="hide-menu"> Pengiriman </span>
          </a>
        </li>
		
        <li class="sidebar-item">
          <a href="/admin/customers" class="sidebar-link" data-pjax>
            <i class="me-2 mdi mdi-account-multiple"></i>
            <span class="hide-menu"> Outlet </span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/sales_targets" class="sidebar-link" data-pjax>
            <i class="me-2 mdi mdi-account"></i>
            <span class="hide-menu"> Sales Targets </span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
        <div class="sidebar-footer px-3 py-4 d-none" >
          <div class=" buynow-card mb-0 mt-3 w-100">
            <img
              src=""
              class="mt-n5 buynow-img"
            />
            <div class="sidebar-footer-text">
              <h4 class="fw-bold"></h4>
              <h4 class="fw-bold"></h4>
              <a href="#" class="btn mt-2"></a>
            </div>
          </div>
        </div>
   <!-- End Bottom points-->
</aside>