{% extends 'include/include.html' %}
{% block pjax_content %}
<script>
  function formatRupiah(input) {
    let angka = input.value.replace(/[^,\d]/g, ''); // Menghapus semua karakter selain angka dan koma
    if (angka) {
        let hasil = Number(angka.replace(/,/g, '')).toLocaleString('id-ID'); // Format angka sesuai Indonesia
        input.value = hasil;
    } else {
        input.value = ''; // Jika input tidak valid (semua dihapus), set ke string kosong
    }
  }
    
  function handleAjax(url, method, data, onSuccess, onError) {
    $.ajax({
      url: url,
      method: method,
      data: JSON.stringify(data),
      contentType: 'application/json',
      headers: { 'Authorization': 'Bearer ' + "{{ session['jwt_token'] }}" },
      success: onSuccess,
      error: function(xhr, status, err) {
      // Normalisasi pesan error
      const payload = xhr.responseJSON || { error: xhr.responseText || err || 'Unknown error' };
      onError(payload, status, err);
    }
    });
  }
  function showModal(title, body, onSubmit) {
    document.getElementById('modal-title').innerText = title;
    document.getElementById('modal-body').innerHTML = body;
    document.getElementById('modal-submit').onclick = onSubmit;
    $('#generic-modal').modal('show');
  }

  function tambahbarang() {
    $("#modal-submit").show()
       showModal(
        'Tambah Barang',
        `<div class="form-group"> <label for="kode_barang">Kode Barang </label> <input type="text" id="kode_barang__baris" class="form-control"> </div>
         <div class="form-group"> <label for="nama_barang">Nama Barang</label> <input type="text" id="nama_barang_baris" class="form-control"> </div>
         <div class="form-group"> <label for="qty">Quantity (Satuan Jumlah) </label> <input type="text" id="qty_baris" class="form-control"> </div>
         <div class="form-group"> <label for="stik_limit">Stok Limit</label> <input type="number" id="stok_limitt" class="form-control" min="0"placeholder="0" > </div>
        `,
       function() {
          // Siapkan data untuk dikirim berdasarkan kategori
            var data = {
                kode_barang: $("#kode_barang__baris").val(),
                nama_barang: $("#nama_barang_baris").val(),
                unit: $("#qty_baris").val(),
                stoklimit: $('#stok_limitt').val()
            };

        handleAjax(
          '/admin/barang',
          'POST',
          data,
          function(response) {  
			handleResponse(response, "Tambah", "/admin/barang");
		  },
          function (errPayload) {
			handleResponse(errPayload, "Tambah", "/admin/barang");
		  }
        );
       }
    );
  }

  function edit(id, kode_barang, nama_barang, qty, stoklimit) {
    $("#modal-submit").show()
    showModal(
        'Edit Barang',
        `<div class="form-group"> <label for="kode_barang">Kode Barang </label> <input type="text" id="kode_barang__baris" class="form-control" value="${kode_barang}"> </div>
         <div class="form-group"> <label for="nama_barang">Nama barang</label> <input type="text" id="nama_barang_baris" class="form-control"value="${nama_barang}"> </div>
         <div class="form-group"> <label for="qty">Quantity </label> <input type="text" id="qty_baris" class="form-control"value="${qty}"> </div>
         <div class="form-group"> <label for="stik_limit">Stok Limit</label> <input type="number" id="stok_limitt" class="form-control" min="0"placeholder="0" value="${stoklimit}" > </div>
        `,
        function() {
           var data = {
                id:id,
                kode_barang: $("#kode_barang__baris").val(),
                nama_barang: $("#nama_barang_baris").val(),
                unit: $("#qty_baris").val(),
                stoklimit: $('#stok_limitt').val()
            };
        handleAjax(
          '/admin/barang',
          'PUT',
          data,
          function(response) {  
			handleResponse(response, "Edit", "/admin/barang");
		  },
          function (errPayload) {
			handleResponse(errPayload, "Edit", "/admin/barang");
		  }
		);
      }
    );
  }

  function hapus(id) {
    if (confirm(`Are you sure you want to delete ?`)) {
      handleAjax(
        '/admin/barang/'+id,
        'DELETE',
        { id: id },
        function(response) {  
			handleResponse(response, "Hapus", "/admin/barang");
		},
        function (errPayload) {
			handleResponse(errPayload, "Hapus", "/admin/barang");
		}
      );
    } else {
      alert('Aksi penghapusan dibatalkan.');
    }
  }

</script>
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="index.html" class="link">
              <i class="ri-home-3-line fs-5"></i>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Barang</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Barang</h1>
    </div>
    <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
      <a href="javascript:void(0)" class="btn btn-info d-flex align-items-center ms-2" onclick="tambahbarang()">
        <i class="ri-add-line me-1"></i> Tambah Data
      </a> 
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
			    <h4>Filter:</h4>
            <div class="row col-12"> 
			       <div class="col-sm-4">
              <div class="form-group mb-3">
               <select class="select2 form-select"style="width: 100%; height: 36px" id="nama_barang" >
                <option value=""> Semua Nama Barang </option>
                {% for i in nama_barang %}
                        <option value="{{i.id}}" {% if request.args.get('id_barang')|int == i.id|int %} selected {% endif %} > {{i.nama_barang}} | {{i.kode_barang}}</option>
                {% endfor %}
              </select>
              </div>
             </div>
			            
             <div class="col-sm-3">
              <div class="form group mb-3">
               <button class="btn btn-info" onclick="run()">Submit</button>
              </div>
             </div>
            </div>
        </div>
        <div class="card-body">
            <div id="table_" class="mt-3">
              <h4>Data Barang</h4>
                  <div class="d-flex justify-content-between align-items-center mb-2 mt-3">
                      <h6 class="mb-0">Tabel Barang</h6>
                  </div>

                  <!-- Apply max-height for Transaksi table -->
                  <div class="scroll-table">
                    <table id="table__data" class="table w-100 display text-nowrap">
                    <thead style="background-color:#f6f8fb;">
                      <tr>
                        <th> No</th>
                        <th> Kode Barang</th> 
                        <th> Nama Barang</th> 
                        <th> Quantity</th>
                        <th> Stok Limit</th>
                        <th> aksi </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in info_list %}
                            <tr class="data-utama">
                                <td>{{ (page - 1) * per_page + loop.index }}</td>
                                <td>{{ i.kode_barang }}</td>
                                <td>{{ i.nama_barang }}</td>
                                <td>{{ i.qty }}</td>
                                <td>{{ i.stoklimit }}</td>
                                <td>
                                <!-- <button data-bs-toggle="modal" data-bs-target="#modal-{{ i.id }}" class="btn btn-success">Nota</button> -->
                                  <button onclick="edit({{ i.id }},'{{ i.kode_barang }}','{{ i.nama_barang }}','{{ i.qty }}','{{ i.stoklimit }}' )" class="btn btn-warning">Edit</button>
                                  <button onclick="hapus({{ i.id }})" class="btn btn-danger">Arsipkan</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                 <script> $(document).ready(function(){ $("#table__data").DataTable({
                      "paging": false,          // Menonaktifkan pagination
                "info": false,           // Menonaktifkan info jumlah entri
                "searching": true,       // Mengaktifkan fitur pencarian
                "lengthChange": false,   // Menonaktifkan pilihan jumlah entri yang ditampilkan
                "language": {
                    "search": "",          // Kosongkan label pencarian
                    "searchPlaceholder": "Cari..." // Placeholder untuk input pencarian
                },
                   "dom": '<"search-container"f>rt', // Menempatkan pencarian di dalam div khusus
                    "scrollX": true,  // Mengaktifkan scroll horizontal
                    "scrollY": "800px", // Mengatur tinggi tabel menjadi 400px dengan scrollbar vertikal
                    "scrollCollapse": true, // Scroll hanya muncul jika data melebihi tinggi yang ditentukan
                })
				});
				</script>
                
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal template -->
<div class="modal fade" id="generic-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title" id="modal-title">Title</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">...</div>
      <div class="modal-footer">
        <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
          <a id="modal-submit" class="btn btn-info d-flex align-items-center ms-2">Submit</a>
        </div>
        <button type="button" class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

    function run() {
    var nama_barang = document.getElementById('nama_barang').value;
    var queryParams = new URLSearchParams();
    if (nama_barang !== "nama_barang") queryParams.append("id_barang", nama_barang);
    window.location.href = `?${queryParams.toString()}`;
    }
</script>
<script>
	
</script>
{% endblock %}
