{% extends 'include/include.html' %}

{% block pjax_content %}
    <div class="page-titles pb-0">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12 align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 d-flex align-items-center">
                        <li class="breadcrumb-item">
                            <a href="index.html" class="link">
                                <i class="ri-home-3-line fs-5"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Tambah Data Penerimaan Barang</li>
                    </ol>
                </nav>
                <h1 class="mb-0 fw-bold">Tambah Data Penerimaan Barang</h1>
            </div>
            <div class="col-lg-4 col-md-6 d-md-flex align-items-center justify-content-end">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div >
                            <div class="form-group">
                                <label for="tglfaktur">Tanggal Faktur </label>
                                <div class="input-group">
                                    <input type="text" id="tglfaktur" class="complex-colorpicker tglfaktur form-control" value="{{ tanggal|format_date }}" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text">
                                        <i data-feather="calendar" class="feather-sm"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nofaktur">Nomor Faktur</label>
                                <input type="text" id="nofaktur" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="jthtempo">Jatuh Tempo</label>
                                <div class="input-group">
                                    <input type="text" id="jthtempo" class="complex-colorpicker jthtempo form-control" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text">
                                        <i data-feather="calendar" class="feather-sm"></i>
                                    </span>
                                </div>
                            </div>
							<!-- Metode Pembayaran header (cashtempo) -->
							<div class="form-group">
							  <label for="pembayaran">Metode Pembayaran</label>
							  <select id="pembayaran" class="form-select">
								<option value="">Pilih</option>
								<option value="Cash">Cash</option>
								<option value="Tempo">Tempo</option>
							  </select>
							</div>
                            <div class="form-group">
                                <label for="supplier">Principle / Supplier</label>
                                <select class=" form-control select2" style="width: 100%; height: 36px" id="supplier" name="supplier">
                                    <option value="">Pilih Supplier</option>
                                    {% for i in data_supplier %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="alamatpabrik">Alamat</label>
                                <input disabled type="text" id="alamatpabrik" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tlppabrik">Telepon </label>
                                <input disabled type="text" id="tlppabrik" class="form-control">
                            </div>
                            <div class="email-repeater mb-3">
                                <div data-repeater-list="repeater-group">
                                    <div data-repeater-item class="row mb-3 bg-light border-top mt-4">
                                        <div class="form-group">
                                            <label for="nmbarang">Nama Barang</label>
                                            <select class=" form-control select2 nmbarang" style="width: 100%; height: 36px" id="nmbarang">
                                                <option value="">Piilh Barang</option>
                                                {% for i in data_barang %}
                                                    <option value="{{i.id}}">{{i.name}} | {{i.code}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="kdbarang">Kode Barang</label>
                                            <input disabled type="text" id="kdbarang" class="kdbarang form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="qty">Quantity</label>
                                            <input disabled type="text" id="qty" class="qty form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="jmlpenerimaan">Jumlah Penerimaan</label>
                                            <input type="number"placeholder="0" min="0" id="jmlpenerimaan" class="jmlpenerimaan form-control">
                                        </div>
                                        <!-- HARGA SATUAN -->
                                        <div class="form-group row mt-3">
                                            <label class="col-sm-2 col-form-label">Harga Satuan</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-text">Rp</span>
                                                    <input type="text" placeholder="0" oninput="formatAngkaInput(this)" class="hargasatuan form-control">
                                                    <div class="input-group-append">
                                                        <input type="text" maxlength="3" placeholder=",00" oninput="this.value = formatKoma(this.value)" class="hargasatuan-koma form-control" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- HARGA TOTAL -->
                                        <div class="form-group row mt-3">
                                            <label class="col-sm-2 col-form-label">Harga Total</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-text">Rp</span>
                                                    <input type="text" disabled placeholder="0" class="hargatotal form-control">
                                                    <div class="input-group-append">
                                                        <input type="text" disabled maxlength="3" placeholder=",00" class="hargatotal-koma form-control" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button data-repeater-delete="" class="mt-3 btn btn-danger waves-effect waves-light w-100" type="button" >
                                                <div class="d-flex align-items-center">
                                                    <i data-feather="x-circle" class="feather-sm ms-2 pr-2 fill-white"></i> Hapus Barang
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" data-repeater-create="" id="tambah-barang" class="btn btn-info w-100 waves-effect waves-light">
                                    <div class="d-flex align-items-center">
                                        <i data-feather="plus-circle" class="feather-sm ms-2 pr-2 fill-white"></i> Tambah Barang
                                    </div>
                                </button>
                            </div>
                            <div class="text-end mt-3">
                                <button id="modal-submit-tambah"class="btn btn-info ms-2">Submit</button>
                                <a href="/admin/penerimaan" class="btn btn-secondary" >Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- This Page JS -->
    <script>
        $('a[href="/admin/penerimaan"]').addClass("active");
        $("#supplier").select2();
        $(".nmbarang").select2();
        $(".email-repeater").repeater({
            show: function () {
                $(this).slideDown();
            },
            hide: function (remove) {
                if (confirm("Are you sure you want to remove this item?")) {
                    $(this).slideUp(remove);
                }
            },
        });
        
        // Date Picker
        $(".complex-colorpicker").datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy", // <-- ini yang bikin format berubah
            language: "id" // opsional, kalau kamu include file locale id
        });
        
        function convertToISO(dateStr) {
            // dari "dd/mm/yyyy" ke "yyyy-mm-dd"
            let parts = dateStr.split("/");
            return `${parts[2]}-${parts[1]}-${parts[0]}`;
        }
    </script>
    <script>
        function formatKoma(val) {
            val = val.replace(/[^\d,]/g, '');
            if (val.length > 0 && val[0] !== ',') {
                val = ',' + val.replace(',', '');
            }
            val = val.slice(0, 3);
            if (!/^,\d{0,2}$/.test(val)) {
                val = val.slice(0, -1);
            }
            return val;
        }
        
        function bersihkanFormatAngka(input) {
            input = input.replace(/\./g, ''); // hapus semua titik
            return input
        }
        
        function formatAngkaInput(el) {
            let angka = el.value.replace(/\./g, "");
            el.value = formatAngka(angka);
        }
        

		function formatAngka(angka) {
			angka = angka.toString()
		  let number_string = angka.replace(/[^,\d]/g, "").toString();
		  let split = number_string.split(",");
		  let sisa = split[0].length % 3;
		  let hasil = split[0].substr(0, sisa);
		  let ribuan = split[0].substr(sisa).match(/\d{3}/g);

		  if (ribuan) {
			let separator = sisa ? "." : "";
			hasil += separator + ribuan.join(".");
		  }

		  return hasil;
		}

        $("#supplier").change(function() {
            console.log("Event change pada #supplier dipicu");
            try {
                if (!'{{ data_supplier | tojson | safe }}') {
                    console.warn("Data pabrik is undefined or null.");
                    return;
                }
                var data_supplier = JSON.parse('{{ data_supplier | tojson | safe }}');
                var nama_pabrik = $('#supplier').val();
                var found = false; // Untuk melacak apakah pabrik ditemukan
                for (var key in data_supplier) {
                    var nama = data_supplier[key].id;
                    if (nama == nama_pabrik) {
                        $('#alamatpabrik').val(data_supplier[key].address);
                        $('#tlppabrik').val(data_supplier[key].phone);
                        found = true;
                        break; // Keluar dari loop jika pabrik ditemukan
                    }
                }
                if (!found) {
                    console.warn("pabrik tidak ditemukan. Mengosongkan alamat dan tlp pabrik.");
                    $('#alamatpabrik').val("");
                    $('#tlppabrik').val("");
                }
            } catch (error) {
                console.error("Error saat memproses perubahan nama pabrik:", error);
            }
        });

        setInterval(function() {
            $(".jmlpenerimaan, .hargasatuan").trigger("input");
            $(".hpp").trigger("input");
        }, 3000);

        $(document).on("change", ".nmbarang", function() {
            if (!'{{ data_barang | tojson | safe }}') {
                console.warn("Data barang is undefined or null.");
                return;
            }
            var data_barang1 = JSON.stringify({{ data_barang | tojson | safe }});
            var data_barang = JSON.parse(data_barang1);
            var $row = $(this).closest("[data-repeater-item]"); // Get the current row
            var id_barang = $(this).val();
            var found = false; // Untuk melacak apakah barang ditemukan
            for (var key in data_barang) {
                var id = data_barang[key].id;
                if (id == id_barang) {
                    $row.find('.kdbarang').val(data_barang[key].code);
                    $row.find('.qty').val(data_barang[key].unit);
                    found = true;
                    break; // Keluar dari loop jika barang ditemukan
                }
            }
            if (!found) {
                console.warn("Barang tidak ditemukan. Mengosongkan id barang, qty, dan alamat barang.");
                $row.find('.idbarang').val("");
                $row.find('.qty').val("");
                $row.find('.alamatbarang').val(""); // Clear alamatbarang
            }
        });

        $(document).on("input", ".jmlpenerimaan, .hargasatuan, .hargasatuan-koma", function() {
            var $row = $(this).closest("[data-repeater-item]");
            var jumlah = parseFloat($row.find('.jmlpenerimaan').val()) || 0;
            let satuan_str = bersihkanFormatAngka($row.find('.hargasatuan').val());
            let koma_str = $row.find('.hargasatuan-koma').val().replace(',', '') || '00';
            let harga_satuan = parseFloat(`${satuan_str}.${koma_str}`) || 0;
            let total = jumlah * harga_satuan;
            // Update nilai harga total
            let [angka, koma] = total.toFixed(2).split(".");
            $row.find('.hargatotal').val(formatAngka(angka));
            $row.find('.hargatotal-koma').val(',' + koma);
        });

        $("#modal-submit-tambah").click(function() {
            // Siapkan data untuk dikirim berdasarkan kategori
            const data = {
                tglfaktur: convertToISO($("#tglfaktur").val()),
                nofaktur: $("#nofaktur").val(),
                id_supplier: $("#supplier").val(),
                jthtempo: convertToISO($("#jthtempo").val()) || "",
                pembayaran: $("#pembayaran").val(),
                items: [] // Array untuk menyimpan data dari repeater
            };
            // Iterasi melalui elemen repeater untuk mengumpulkan data
            $("[data-repeater-item]").each(function() {
                const item = {
                    id_barang: $(this).find("#nmbarang").val() || "",
                    jml_menerima: $(this).find("#jmlpenerimaan").val() || "",
                    harga_satuan: (bersihkanFormatAngka($(this).find(".hargasatuan").val()) + '.' + ($(this).find(".hargasatuan-koma").val().replace(',', '') || '00')),
                    harga_total: (bersihkanFormatAngka($(this).find(".hargatotal").val()) + '.' + ($(this).find(".hargatotal-koma").val().replace(',', '') || '00')),
                };
                data.items.push(item); // Tambahkan item ke array
            });
            $.ajax({
                url: '/admin/penerimaan',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(response) {
                    handleResponse(response,"Tambah Data Penerimaan","/admin/penerimaan");
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        let errorMessages = xhr.responseJSON.error;
						if (xhr.error.includes("401")){location.href="/login"};
                        alert("Validation Errors:\n" + errorMessages);
                    } else {
                        alert("An unexpected error occurred: " + error);
                    }
                }
            });
        });

        $("#tambah-barang").on("click", function() {
            console.log("halol");
            setTimeout(function() {
                $(".nmbarang").select2();
                $('span[data-select2-id="3"]').hide();
                const observer = new MutationObserver(function(mutationsList, observer) {
                    const element = document.querySelector('span[data-select2-id="5"]');
                    if (element) {
                        element.style.display = 'none';
                        observer.disconnect(); // Hentikan observer setelah elemen ditemukan
                    }
                });
                observer.observe(document.body, {
                    childList: true,
                    subtree: true
                });
            }, 1000);
        });
    </script>
{% endblock %}
